
@font-face {
    font-family: "sbl";
    src: url("../font/sbl.ttf") format("truetype");   
}


.foreign,.pronunciation{
    
    font-family: sbl;
}


body {
    opacity : 0;
    transition : opacity 400ms ease; 
}


.loaded {
   opacity : 1;
}



/*  main page  --------------------------------- */


#main {
    background-image: url(../img/scrolls.jpg);
    background-size: 200%;
    background-position: center;
    
    
}

.diatext{
    text-align: center;
}

.main-btn {
    margin: 40% 20% 30% 20%;
    font-size: 2em;
    
    
}



/*  readings page  ----------------------------*/

#daily-mass{

}


#deviceready{
    
}

.chunk {
    display: inline-block;
    vertical-align: top;

}

h2{
    color: orange;
}


.pronunciation,.foreign,.translation,.chunk {
    padding: 2px;

}

.pronunciation,.foreign,.translation {
    text-align: center;
}

.pronunciation{
    font-style: italic;
    color: #bfbfbf;
    direction: ltr;
}
.translation {
    color: #999999;
    direction: ltr;
 }
 .foreign{
    font-size: 165%;
 }


#buffer{

    background-image: url(../img/scrolls.jpg);
    background-size: 200%;
    background-position: center;
    padding: 1em;
    font-size: 160%;
    min-height: 100vh;
    

}

#buffer2{
    margin-top: 40%;
    margin-bottom: 10%;
}

#widget{
    
    
}

#home-btn{
    
    
}




/*  datebox ----------------------------   */


.ui-datebox-container {
    max-width: 600px;
    margin: auto;
    padding: 2%;
    text-align: center;

}

.ui-corner-all{
    border-radius: 1em;
}




h4{
  
    text-shadow: none;
}

.ui-datebox-datebox-group{
    padding: 4%;

}
.ui-datebox-datebox-button{
    width: auto;
    height: 4em;
}



#home-btn{
    margin: 2em;
}


.ui-input-text{
    
    border-color: gainsboro;
    border-radius: 2em;
    
    
}

.form-control{
    text-align: center !important;
    font-size: 160% !important;
    background: white !important;
    

}

.ui-icon-plus::after{
    background-color: limegreen;
}

.ui-icon-minus::after{
    background-color: red;
}
.ui-icon-check::after{
    background-color: green;
}

