<?xml version='1.0' encoding='utf-8'?>
<widget id="areopagitics.DailyScrolls" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Daily Scrolls</name>
    <description>
        Catholic Mass Readings and Bible in interlinear Greek and Hebrew
    </description>
    <author email="areopagitics@gmail.com">
        Areopagitics
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="EnableViewportScale" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-sqlite-ext" spec="~0.10.2" />
    <engine name="android" spec="~6.0.0" />
</widget>
